{% include 'header.html' %}
  <section id='project'>
    <h2 class="header-for">My Recent Python Development</h2>

    <div class="row">
      <div class="pricing_one col-lg-3 col-md-4">
        <div class="card">
          <img class="card-img-top" src="static/images/portfolio_img/flight.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Search Flight</h5>
            <p class="card-text">'OOP' code which allows to search the cheapest flight with 'Sheety'</p>
            <button type="button" class="btn btn-dark btn-lg view-btn"><a href="https://github.com/Maksat69/Flight_Search"><i class="fa-brands fa-github"></i>Go to Git</a></button>
          </div>
        </div>
      </div>
      <div class="pricing_one col-lg-3 col-md-4">
        <div class="card">
          <img class="card-img-top" src="static/images/portfolio_img/card.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Flash Card</h5>
            <p class="card-text">For learning any language just changing configuration current French</p>
            <button type="button" class="btn btn-dark btn-lg view-btn"><a href="https://github.com/Maksat69/Flash-Card"><i class="fa-brands fa-github"></i>Go to Git</a></button>
          </div>
        </div>
      </div>
      <div class="pricing_one col-lg-3 col-md-4">
        <div class="card">
          <img class="card-img-top" src="static/images/portfolio_img/blog.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">RESTFUL Blog</h5>
            <p class="card-text">Blog  made with FLASK framework that can control with 'POSTMAN'</p>
            <button type="button" class="btn btn-dark btn-lg view-btn"><a href="https://github.com/Maksat69/RESTFUL-blog"><i class="fa-brands fa-github"></i>Go to Git</a></button>
          </div>
        </div>
      </div>
      <div class="pricing_one col-lg-3 col-md-4">
        <div class="card">
          <img class="card-img-top" src="static/images/portfolio_img/coffee.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Coffee-Machine</h5>
            <p class="card-text">Symple 'OOP' code for Coffee-Machine that allows take money with coins and can control everything</p>
            <button type="button" class="btn btn-dark btn-lg view-btn"><a href="https://github.com/Maksat69/oop-coffee-machine"><i class="fa-brands fa-github"></i>Go to Git</a></a></button>
          </div>
        </div>
      </div>
      <div class="pricing_one col-lg-3 col-md-4">
        <div class="card">
          <img class="card-img-top" src="static/images/portfolio_img/tennis.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Tennis game</h5>
            <p class="card-text">This is old Wall game with 2 players made up with 'Turtle'</p>
            <button type="button" class="btn btn-dark btn-lg view-btn"><a href="https://github.com/Maksat69/wall_reccreate"><i class="fa-brands fa-github"></i>Go to Git</a></button>
          </div>
        </div>
      </div>
      <div class="pricing_one col-lg-3 col-md-4">
        <div class="card">
          <img class="card-img-top" src="static/images/portfolio_img/music.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Spotify auto collection</h5>
            <p class="card-text">Generate Billboard with specific year with just providing date!</p>
            <button type="button" class="btn btn-dark btn-lg view-btn"><a href="https://github.com/Maksat69/musick-time-machine"><i class="fa-brands fa-github"></i>Go to Git</a></button>
          </div>
        </div>
      </div>
      <div class="pricing_one col-lg-3 col-md-4">
        <div class="card">
          <img class="card-img-top" src="static/images/portfolio_img/password.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Password Manager</h5>
            <p class="card-text">Symple manager all of your password made up with 'Tkinter'</p>
            <button type="button" class="btn btn-dark btn-lg view-btn"><a href="https://github.com/Maksat69/password-manager"><i class="fa-brands fa-github"></i>Go to Git</a></button>
          </div>
        </div>
      </div>
      <div class="pricing_one col-lg-3 col-md-4 col-">
        <div class="card">
          <img class="card-img-top" src="static/images/portfolio_img/morse.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Morse code</h5>
            <p class="card-text">This is symple Morse code which encode and decode too</p>
            <button type="button" class="btn btn-dark btn-lg view-btn"><a href="https://github.com/Maksat69/Morse"><i class="fa-brands fa-github"></i>Go to Git</a></button>
          </div>
        </div>
      </div>
    </div>

  </section>

{% include 'footer.html' %}
